.env

guacamole_docker/guacamole-auth-jdbc-1.5.3

traefik_docker/letsencrypt

portainer_docker/data

/.wordpress_1_docker/**
/.wordpress_2_docker/**
/.wordpress_3_docker/**

wordpress_docker/db/**

wordpress_docker/wordpress/wp-content/et-cache/*
wordpress_docker/wordpress/wp-content/languages/*
wordpress_docker/wordpress/wp-content/mu-plugins/*
wordpress_docker/wordpress/wp-content/plugins/*
wordpress_docker/wordpress/wp-content/themes/*
wordpress_docker/wordpress/wp-content/updraft/*
wordpress_docker/wordpress/wp-content/upgrade/*
wordpress_docker/wordpress/wp-content/uploads/*
wordpress_docker/wordpress/wp-content/wflogs/*
wordpress_docker/wordpress/wp-content/wp-cache-config.php
wordpress_docker/wordpress/wp-content/wpo-cache/*
wordpress_docker/wordpress/wp-content/wpvividbackups/*
wordpress_docker/wordpress/wp-content/wpvivid_staging/*
wordpress_docker/wordpress/wp-content/wpvivid_uploads/*
wordpress_docker/wordpress/wp-content/plugins/elementor/
wordpress_docker/wordpress/wp-content/upgrade-temp-backup/plugins/*

wordpress_docker/wordpress/wp-includes/*
wordpress_docker/wordpress/wp-admin/*

dockge_docker/data/*

uptime-kuma_docker/uptime-kuma-data/*

trilium_note/trilium-data/*

dockge_docker/data/*.db-*